* {
  font-family: JetBrainsMono, sans-serif;
  font-size: 14px;
  color: rgb(30, 30, 30);
}

#waybar {
  background: rgba(220, 223, 225, 0.9);
  border-radius: 10px;
  border: none;
  box-shadow: none;
}

#clock {
  padding: 4px 2px;
  margin-left: 6px;
  margin-right: 6px;
}
